.section-fuor{
    min-height: 80vh;
    border-radius: 5rem;
    margin-top: 7rem;
    background-image: url('../../assets/pc.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}
.section-fuor::before {
    content: '';  /* Necessário para que o pseudo-elemento seja renderizado */
    position: absolute; /* Posiciona a camada de cor sobre a imagem */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor e transparência (pode alterar conforme necessário) */
    z-index: 1;  /* Faz com que o pseudo-elemento fique atrás do texto */
}

/* Certifique-se de que o conteúdo (texto) está acima da camada de cor */
.section-fuor > * {
    position: relative;
    z-index: 2;
}
