.container-cards{
    background-color: #ffffff;
    width: 25rem;
    padding: 1rem;
    color: #000000;
}
.img-card{
    width: 4rem;
    height: 4rem;
}
.texts{
    margin-bottom: 1rem;
}
.link{
    text-decoration: none;
    color: #d00000;
}