
.backup{
    height: 150vh;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    background-color: #000000;
    color: #ffffff;
    padding-left: 2rem;
    
}
.text-back span{
    font-size: 2rem;
}
.text-back .one{
    color: #d00000;
}
.text-back p{
    margin-top: 2rem;
}

.infos-car{
    height: auto;
    margin-top: 2rem;

}
.infos-car p{
    font-size: 1.3rem;
}
.infos{
    display: flex;
    gap: 2rem;
    margin: 2rem;
}
.icon-car{
    border: solid 0.1rem #ffffff;
    padding: 1.5rem;
    border-radius: 50%;
    width: 6rem;
}

.car{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    margin-top: 12rem;
}
.img-car{
    width: 28rem;
    height: 100%;

    
}

.imgg{
    width: 100%;
    height: 70%;
    border-radius: 2rem;
}