.container-porao {
    position: relative;  /* Para que o pseudo-elemento seja posicionado corretamente */
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    background-color: #000000;
}
.container-porao h1{
    font-size: 6rem;

}
.container-porao .p-t p{
    font-size: 1.5rem;
}
button{
    border: none;
     border-radius: 2rem;
     padding: 1.5rem;
     width: auto;
     background-color: #bf0603;
     color: #ffffff;
     display: flex;
     align-items: center;
     gap: 1rem;
     margin-top: 3rem;
     font-size: large;
 }
 button .whats{
     width: 3rem;
 }


