.about-us{
    background-image: url('../../assets/notebook.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5rem;
    color: #ffffff;
    position: relative;
    margin-top: 2rem;
    
}
.text-about h3{
    font-size: 3.5rem;
}
.text-about span{
    font-size: 1.5rem;
}

.about-us::before {
    content: '';  /* Necessário para que o pseudo-elemento seja renderizado */
    position: absolute; /* Posiciona a camada de cor sobre a imagem */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor e transparência (pode alterar conforme necessário) */
    z-index: 1;  /* Faz com que o pseudo-elemento fique atrás do texto */
}

/* Certifique-se de que o conteúdo (texto) está acima da camada de cor */
.about-us > * {
    position: relative;
    z-index: 2;
}
@media (min-width: 1440px) {
    .about-us {
      flex-direction: row;
      padding: 6rem 8rem;
      text-align: left;
    }
  
    .text-about h3 {
      font-size: 3rem;
    }
  
    .text-about span {
      font-size: 1.5rem;
    }
    .text-about p{
        font-size: 1.5rem;
    }
  }
  @media (min-width: 1024px) and (max-width: 1440px) {
    .about-us {
      flex-direction: row;
      padding: 4rem 3rem;
      text-align: left;
    }
  
    .text-about h3 {
      font-size: 2.6rem;
    }
  
    .text-about span {
      font-size: 1rem;
    }
    .text-about p{
        font-size: 1.2rem;
    }
  }
@media (min-width: 900px) and (max-width: 1024px) {
    .about-us {
      flex-direction: row;
      padding: 4rem 3rem;
      text-align: left;
    }
  
    .text-about h3 {
      font-size: 2.6rem;
    }
  
    .text-about span {
      font-size: 1rem;
    }
    .text-about p{
        font-size: 1.2rem;
    }
  }
@media (min-width: 768px) and (max-width: 899px) {
    .about-us {
      padding: 4rem 2rem;
      text-align: left;
    }
  
    .text-about h3 {
      font-size: 2rem;
    }
  
    .text-about span {
      font-size: 1rem;
    }

    .text-about p{
        font-size: 1.2rem;
    }
  }
@media (min-width: 576px) and (max-width: 768px) {
    .about-us {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3.5rem 2rem;
      text-align: center;
    }
  
    .text-about h3 {
      font-size: 2.7rem;
    }
  
    .text-about span {
      font-size: 1.3rem;
    }
  }
  
@media (min-width: 425px) and (max-width: 576px) {
    .about-us {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3rem 1.5rem;
      text-align: center;
    }
  
    .text-about h3 {
      font-size: 3rem;
    }
    .text-about span {
      font-size: 1rem;
    }
    .text-about p{
        font-size: 1.3rem;
    }
  }
@media (min-width: 375px) and (max-width: 425px) {
    .about-us {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2.5rem 1.2rem;
      text-align: center;
    }
  
    .text-about h3 {
      font-size: 3rem;
    }
  
    .text-about span {
      font-size: 1.1rem;
    }
    .text-about p{
        font-size: 1rem;
    }
  }
  
@media (min-width: 320px) and (max-width: 375px) {
    .about-us {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 1rem;
      text-align: center;
    }
  
    .text-about h3 {
      font-size: 3rem;
    }
  
    .text-about span {
      font-size: 1rem;
    }
    .text-about p{
        font-size: 1rem;
    }
  }